@using WeightCharts.Application.Service;
@inject IBeehiveNameList beehiveNameList
@{
    var beehiveNames = await beehiveNameList.GetBeehiveNameListAsync();
}

<nav id="header" class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="sidebar-toggle-button">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="brand">
                <a href="/">
                    <span class="hidden-xs text-muted">Odczyty czujników</span>
                </a>
            </div>

        </div>
    </div>
</nav>
<div id="sidebar" class="sidebar-toggle">
    <ul class="nav nav-sidebar">
        @foreach (var beehive in beehiveNames)
        {
            <li data-toggle="collapse" href="#@beehive" aria-expanded="false" aria-controls="@beehive">
                <a href="#">
                    <i class="fa fa-area-chart" aria-hidden="true" style="width: 13px;"></i>
                    <span>@beehive</span>
                </a>
            </li>
            <li>
                <ul id="@beehive" class="sub-menu collapse @(Context.Request.Path.ToString().Contains("WeightChart")? @Html.Raw("in") : string.Empty)">
                    <li><a href="@Url.Action("GetTempData", "WeightChart", new { beehiveId = beehive})">Temperature</a></li>
                    <li><a href="@Url.Action("GetMoisData", "WeightChart", new { beehiveId = beehive})">Moisture</a></li>
                    <li><a href="@Url.Action("GetWeightData", "WeightChart", new { beehiveId = beehive})">Weight</a></li>
                </ul>
            </li>
            <li role="separator" class="divider"></li>
        }
        <li data-toggle="collapse" href="#weatherStation" aria-expanded="false" aria-controls="weatherStation">
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Weather station</span>
            </a>
        </li>
        <li>
            <ul id="weatherStation" class="sub-menu collapse @(Context.Request.Path.ToString().Contains("hives/") ? @Html.Raw("in") : string.Empty)">
                <li><a href="/features/zoomingpanning/">Zooming &amp; Panning</a></li>
            </ul>
        </li>
        <li role="separator" class="divider"></li>

        <li data-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="settings">
            <a href="#">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <span>Settings</span>
            </a>
        </li>
        <li>
            <ul id="settings" class="sub-menu collapse">
                <li><a href=""></a></li>
            </ul>
        </li>
        <li role="separator" class="divider"></li>

    </ul>
</div>